<div class="container-fluid px-1 py-5 mx-auto">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Escuela</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let escuela of escuelas">
                <th scope="row">{{escuela.id}}</th>
                <td>{{escuela.nombre}}</td>
                <td>{{escuela.correo}}</td>
                <td>{{escuela.telefono}}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="showFormSchool()" type="button" class="btn btn-primary">Agregar</button>
    <button type="button" class="btn btn-danger">Regresar</button>
</div>